@import "variable";

* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(../../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $Pale-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    height: 600px;
    width: 400px;
    border-radius: 20px;
    background-color: #fff;

    .illustration {
        border-radius: 20px 20px 0px 0px;
        height: 200px;
        width: 100%;
        background-image: url(../../images/illustration-hero.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    

    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 400px;


    
        h1, p {
            text-align: center;
            width: 80%;
        }



        .plan {
            height: 50px;
            width: 80%;
            padding: 20px;
            background-color: $Very-pale-blue;
            border-radius: 20px;
            display: flex;
            justify-content: space-between;

            .icons {
                height: 50px;
                width: 50px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .annual-plan {
                height: 100%;
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transform: translateX(-50px);

                h1 {
                    font-size: 15px;

                }
            }

            a {
                display: flex;
                align-items: center;

                &:hover {
                    color: $Dark-blue
                }
            }
        }

        .proceed {
            height: 50px;
            width: 80%;
            background-color: $Bright-blue;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            border-radius: 20px;

            &:hover {
                background-color: $Dark-blue;
                cursor: pointer;
            }
        }

        .cancel {
            color: $Desaturated-blue;
            &:hover {
                color: black;
                cursor: pointer;
            }
        }
    }  
}


@media only screen and (max-width: 450px) {
    body {
        background-image: url(../../images/pattern-background-mobile.svg);
    }
}